body {
    outline: 1px solid red;
    margin: 0;
    padding: 0;
    max-width: 550px;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.header-icon {
    width: 10%;
}

.header-icon img {
    width: 100%;
}

.logo {
    width: 20%;
}

.logo img {
    width: 100%;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
}

.footer-icon {
    /* outline: 1px solid red; */
    display: flex;
    margin: .5rem;
    padding: 1rem;
    width: 10%;
    border-radius: 50%;
}

.footer-icon img {
    width: 100%;
    /* outline: 1px solid orange; */
}