body {
    /* outline: 1px solid red; */
    margin: 0 auto;
    padding: 0;
    max-width: 550px;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #FFFFFF 0%, #F6F7FB 100%);
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    background-color: #FFFFFF;
}

.header-icon {
    width: 6%;
    margin: 0 .5rem;
}

.logo {
    width: 15%;
}

.header-icon img, .logo img {
    width: 100%;
}

/* MAIN SECTION */

#cat {
    width: 98%;
    height: 80vh;
    margin: 0 auto;
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    position: relative;
}

#splash, .no-cats {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#splash img {
    width: 100%;
}

.cat-profile {
    width: 100%;
    padding: .5rem 0 .5rem 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.cat-profile h2 {
    color: #F8F8F8;
    margin: 0;
}

.cat-profile p {
    color: #B7B7B7;
    margin: 0;
}

.no-cats {
    color: hotpink;
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 0 0 2px black;
    margin-bottom: 5rem;
    text-align: center;
}

#stamp {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 100%;
    display: flex;
}

#stamp img {
    width: 50%;
    margin-top: 2rem;
    transform: rotate(-25deg);
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
}

.footer-icon {
    /* outline: 1px solid red; */
    display: flex;
    margin: .5rem;
    padding: 1rem;
    width: 6%;
    border-radius: 50%;
    box-shadow: 0px 10px 20px #EDD9DF;
}

.footer-icon img {
    /* outline: 1px solid orange; */
    width: 100%;
}

#cross:hover {
    background: #FFE7EF;
}

#heart:hover {
    background: #DBFFF4;
}